## General
.DS_Store
*.log
*.bak
*.swp
*.swo
*.cache

## PHP
/vendor/ # Composer dependencies
*.phar
*.log

## Visual Studio Code
.vscode/

## Android Studio
*.iml
.android/
.gradle/
.local/
.out/
build/
captures/

## Linux
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

## Backup
*.gho
*.ori
*.orig
*.tmp

.env